<style>
    .container {
        margin-top: 2rem;
    }
</style>
<div class="container">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active bg-warning" href="{{ path('homepage') }}">INDEX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link2</a>
        </li>
    </ul>
</div>
<br>