<style>
    .container {
        margin-top: 2rem;
    }
    .nav-item{
        list-style: none;
    }
</style>
<nav>
<div class="container">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item {% if app.request.attributes.get('_route') == 'homepage' %} active {% endif %}">
            <a class="nav-link active" href="{{ path('homepage') }}">Home</a>
        </li>
        <li class="nav-item {% if app.request.attributes.get('_route') == 'term_of_service' %} active {% endif %}">
            <a class="nav-link" href="{{ path('term_of_service') }}">Terms</a>
        </li>
        <ul class="nav-item">
            <li class="nav-item {% if app.request.attributes.get('_route') == 'app_login' %} active {% endif %}">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
        </ul>
    </ul>
</div>
</nav>

